.tagline {

  &__inner {
    padding: 128px 0 80px 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 700px;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 40px;
    @include font-size(72px, 78px);
    font-weight: 500;
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 10px 14px;
    border: 1px solid $color-gray-dark;
    border-radius: 100px;
    top: -50px;
    transition: border-color $trans-base, opacity $trans-base;

    &:hover {
      border-color: $color-black-transperent;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__icn {
    display: block;
    color: $color-main;
    fill: $color-transperent;
  }

  // Media

  @media (max-width: 1199px) {
    &__inner {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  @media (max-width: 991px) {
    &__btn {
      margin-top: 80px;
      top: 0;
    }
  }

  @media (max-width: 776px) {
    &__header {
      @include font-size(64px, 64px);
    }
  }

  @media (max-width: 676px) {
    &__header {
      @include font-size(56px, 56px);
    }
  }

  @media (max-width: 480px) {
    &__header {
      @include font-size(48px, 48px);
    }
  }

  @media (max-width: 380px) {
    &__header {
      @include font-size(42px, 42px);
    }
  }
}