.tagline {

  &__inner {
    padding: 64px 0 80px 0;
  }

  &__content {
    margin: 0 auto;
    max-width: 700px;
  }

  &__header {
    margin-top: 0;
    margin-bottom: 40px;
    @include font-size(72px, 78px);
    font-weight: 500;
  }

  &__link {
    position: relative;
    color: $color-main;
    text-decoration: none;
    outline: none;
    @include font-size(20px, 24px);
    font-weight: 500;
    cursor: pointer;
    transition: color $trans-base, opacity $trans-base;

    &:hover {
      color: $color-main;
    }

    &:active{
      opacity: 0.6;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 32px;
      height: 2px;
      background-color: $color-main;
      right: -32%;
      top: 50%;
    }
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 10px 14px;
    border: 1px solid $color-gray-dark;
    border-radius: 100px;
    top: -50px;
    transition: border-color $trans-base, opacity $trans-base;

    &:hover {
      border-color: $color-black-transperent;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__icn {
    display: block;
    color: $color-main;
    fill: $color-transperent;
  }
}