.ticker {
  padding-top: 64px;
  height: 100vh;

  &__inner {
    margin-top: 42px;
    margin-bottom: 42px;
  }

  &__header {
    margin-bottom: 80px;
    @include font-size(48px, 52px);
    font-weight: 500;
    color: $color-black;
    font-family: inherit;
  }

  &__container {
    margin-bottom: 24px;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 88px;
    overflow: hidden;
    white-space: nowrap;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    position: absolute;
    white-space: nowrap;
    display: flex;
    will-change: transform;
    animation: marqueeLeft 32s linear infinite;

    &--right {
      animation: marqueeRight 32s linear infinite;
    }
  }

  &__content {
    display: block;
    font-family: 'Spectral';
    @include font-size(80px, 88px);
    font-weight: 300;
    color: $color-main;
  }

  @keyframes marqueeLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  @keyframes marqueeRight {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
  }


  // Media

  @media (max-width: 992px) {
    height: auto;
  }

  @media (max-width: 767px) {
    &__header {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  @media (max-width: 767px) {
    &__header {
      margin-right: 20px;
      margin-left: 20px;
    }
  }

  @media (max-width: 546px) {
    &__header {
      margin-bottom: 42px;
      font-size: 42px;
    }
  }

  @media (max-width: 480px) {
    &__header {
      font-size: 36px;
    }
  }
}