.logo {
  color: $color-main;
  text-decoration: none;
  outline: none;
  @include font-size(16px, 16px);
  font-weight: 500;
  cursor: pointer;
  transition: color $trans-base, opacity $trans-base;

  &:hover {
    color: $color-main;
  }

  &:active{
    opacity: 0.6;
  }
}