mixin basic-section()

  section.basic
    .container-xl
      .basic__inner
        .basic__content
          h2.basic__header Наши основные направления
        .basic__slider
          .swiper-wrapper.basic__wrapper
            a.swiper-slide.basic__slide
              .basic__img
                +img('content', 'basic', 'jpg')
              .basic__name Отели
              .basic__tagline От 2 до 5 звезд

            a.swiper-slide.basic__slide
              .basic__img
                +img('content', 'basic', 'jpg')
              .basic__name Отели
              .basic__tagline От 2 до 5 звезд

            a.swiper-slide.basic__slide
              .basic__img
                +img('content', 'basic', 'jpg')
              .basic__name Отели
              .basic__tagline От 2 до 5 звезд

            a.swiper-slide.basic__slide
              .basic__img
                +img('content', 'basic', 'jpg')
              .basic__name Отели
              .basic__tagline От 2 до 5 звезд
