mixin basic-section()

  section.basic
    .container-xl
      .row
        .basic__content.col-lg-3
          h2.basic__header Наши основные направления
        .basic__aside.col-lg-9
          .basic__slider
            .swiper-wrapper.basic__wrapper
              a(href="#").swiper-slide.basic__slide
                .basic__img
                  +img('content', 'basic', 'jpg')
                .basic__name Отели
                .basic__tagline От 2 до 5 звезд

              a(href="#").swiper-slide.basic__slide
                .basic__img
                  +img('content', 'basic', 'jpg')
                .basic__name Отели
                .basic__tagline От 2 до 5 звезд

              a(href="#").swiper-slide.basic__slide
                .basic__img
                  +img('content', 'basic', 'jpg')
                .basic__name Отели
                .basic__tagline От 2 до 5 звезд

              a(href="#").swiper-slide.basic__slide
                .basic__img
                  +img('content', 'basic', 'jpg')
                .basic__name Отели
                .basic__tagline От 2 до 5 звезд
