mixin error-section()

  section.error
    .container-xl
      .error__inner
        .error__header ОШИБКА 404
        .error__subheader Такой страницы не существует
        a(href="index.html").offer-link вернуться на главную