mixin tagline-section()

  section.tagline
    .container-xl
      .tagline__inner
        .tagline__content
          h1.tagline__header Комплексная реализация интерьерных задач
          a(href="#").tagline__link Оставить заявку
        a(href="#").tagline__btn
            +icn('icn-arrow', 20, 28).tagline__icn