mixin ticker-section()

  section.ticker
    .container-xl
      .ticker__inner
        .row
          h2.ticker__header.col-md-8.offset-md-3 Наши клиенты ценят качество и эксклюзивность работы, благодаря чему продолжают доверять Meltzer свои проекты
    .ticker__container
      .ticker__item
        .ticker__content &nbsp;Hilton - Capella Ubud - Riggs - Raffles - Grace Hotel -
        .ticker__content &nbsp;Hilton - Capella Ubud - Riggs - Raffles - Grace Hotel -
    .ticker__container
      .ticker__item.ticker__item--right
        .ticker__content &nbsp;Waldorf - Astoria - Wolfeboro - Sheraton - The Lowell -
        .ticker__content &nbsp;Waldorf - Astoria - Wolfeboro - Sheraton - The Lowell -
    .ticker__container
      .ticker__item
        .ticker__content &nbsp;The Oberoi - Ashford - Marriot - Mandapa - Monasterio -
        .ticker__content &nbsp;The Oberoi - Ashford - Marriot - Mandapa - Monasterio -