mixin ticker-section()

  section.ticker
    .container-xl
      .ticker__inner
        .row
          .ticker__text.col-md-8.offset-md-3
            h2.ticker__header Наши клиенты ценят качество и эксклюзивность работы, благодаря чему продолжают доверять нам свои проекты
    .ticker__group
      .ticker__container
        .ticker__item
          .ticker__content &nbsp;Hilton - Capella Ubud - Riggs - Raffles - Grace Hotel -
          .ticker__content &nbsp;Hilton - Capella Ubud - Riggs - Raffles - Grace Hotel -
      .ticker__container
        .ticker__item.ticker__item--right
          .ticker__content &nbsp;Waldorf - Astoria - Wolfeboro - Sheraton - The Lowell -
          .ticker__content &nbsp;Waldorf - Astoria - Wolfeboro - Sheraton - The Lowell -
      .ticker__container
        .ticker__item
          .ticker__content &nbsp;The Oberoi - Ashford - Marriot - Mandapa - Monasterio -
          .ticker__content &nbsp;The Oberoi - Ashford - Marriot - Mandapa - Monasterio -