mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container-xl
      .header__inner
        a(href="#").logo Logo
        .header__nav
          a(href="#").header__nav-item ОТЕЛИ
          a(href="#").header__nav-item РЕСТОРАНЫ
          a(href="#").header__nav-item ЧАСТНЫЕ ИНТЕРЬЕРЫ
          a(href="#").header__nav-item КАТАЛОГ
        .header__aside
          a(href="#").header__offer ОСТАВИТЬ ЗАЯВКУ
          .header__burger
            .header__burger-line
            .header__burger-line